
/*----- Body CSS ----- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*----- Header CSS ----- */
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 51px 20px;
}


/*----- Logo CSS ----- */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  }

/*----- Profile Pic CSS ----- */
  header img {
    width: 200px;
    }
    
  img{
    overflow-clip-margin: content-box;
    overflow: clip;
    }
  
  .logo h1 {
    margin-left: 10px;
    font-weight: bold;
    }
  
  h1{
  margin: 0;
  }
  
  h1 {
  display: block;
  font-weight: bold;
  }

/*----- Hero Banner CSS ----- */
  hero-banner h2{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  .text-overlay {
  border-color: 10px solid black;
  }
  
/*----- Cards CSS ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.proj1 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.proj2 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.proj3 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.proj4 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.proj5 {
  background-image: url('../images/02-portfolio-1.jpg');
}

