
/*----- Body CSS ----- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*----- Header CSS ----- */
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 51px 20px;
}


/*----- Logo CSS ----- */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  }

/*----- Profile Pic CSS ----- */
  header img {
    width: 200px;
    }
    
  img{
    overflow-clip-margin: content-box;
    overflow: clip;
    }
  
  .logo h1 {
    margin-left: 10px;
    font-weight: bold;
    }
  
  h1{
  margin: 0;
  }
  
  h1 {
  display: block;
  font-weight: bold;
  }