* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 51px 20px;
}

.logo {
display: flex;
justify-content: center;
align-items: center;
}

header img {
  width: 200px;
  }
  
img{
  overflow-clip-margin: content-box;
  overflow: clip;
  }

.logo h1 {
  margin-left: 10px;
  font-weight: bold;
  }

h1{
margin: 0;
}

h1 {
display: block;
font-weight: bold;
}

hero-banner h2{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
img {
  max-width: 100%;
  height: auto;
}

.text-overlay {
border-color: 10px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.proj1 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.proj2 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.proj3 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.proj4 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.proj5 {
  background-image: url('../images/02-portfolio-1.jpg');
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: .5em;
  min-height: 150px;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
  
}

.flex-item div {
  background-color: lightgreen;
  padding: 10px;
}
/* Footer Section */

footer {
  text-align: center;
  padding: 1px;
  background-color: rgb(156, 175, 164);
  color: rgb(3, 3, 3);
}

/*Media Viewport Section*/

@media screen and (max-width: 768px) {
  .flex-item {
  flex-basis: 100%;
  }
  .flex-item.first-child {
    min-height: 150px;

  }
}
